.add-product-container {
  padding: 30px;
  text-align: center;
}

.add-product-header {
  margin-bottom: 0;
  font-size: 32px;
  color: #5a2a34;
}

.new-product-container {
  display: flex;
  justify-self: center;
}

.categories-error-message {
  color: red;
  margin-top: 40px;
}
